.git/
.work/
.runtime/
.venv/
__pycache__/
*.pyc
**/db/
**/incremental_db/
**/sim_build/
verification/build/
*.qws
*.zip
*.out
*.vcd
*.fst
test/results.xml
robot/jetauto/logs/*
!robot/jetauto/logs/.gitkeep

